<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Настройка графиков</title>
    <link rel="stylesheet" href="/css/table-style.css"/>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="header-title table">
    <div class="cell"><h1>Графики</h1>
    </div>
</div>
<div id="tablewrapper">
    <div th:replace="fragments/tableheader :: table-header"></div>
    <button type="submit" id="form" onclick="location.href='graphs/create'">Создать график</button>
    <table cellpadding="0" cellspacing="0" border="0" id="graphs" class="tinytable" th:if="${graphs!=null}">
        <thead>
        <tr>
            <th><h3>Имя</h3></th>
            <th class="nosort"><h3>Ширина</h3></th>
            <th class="nosort"><h3>Высота</h3></th>
            <th class="nosort"><h3>Тип графика</h3></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="graph:${graphs}">
            <td><a th:href="@{'graphs/edit?graphid='+${graph.getString('graphid')}}" th:utext="${graph.getString('name')}"></a></td>
            <td th:utext="${graph.getString('width')}"></td>
            <td th:utext="${graph.getString('height')}"></td>
            <td th:utext="${graph.getString('graphtype')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div th:replace="fragments/tablefooter :: table-footer"></div>
<script type="text/javascript" src="/js/tablescript.js"></script>
<script type="text/javascript">
    var sorter = new TINY.table.sorter('sorter','graphs',{
        headclass:'head',
        ascclass:'asc',
        descclass:'desc',
        evenclass:'evenrow',
        oddclass:'oddrow',
        evenselclass:'evenselected',
        oddselclass:'oddselected',
        paginate:true,
        size:10,
        colddid:'columns',
        currentid:'currentpage',
        totalid:'totalpages',
        startingrecid:'startrecord',
        endingrecid:'endrecord',
        totalrecid:'totalrecords',
        hoverid:'selectedrow',
        pageddid:'pagedropdown',
        navid:'tablenav',
        sortcolumn:1,
        sortdir:1,
        init:true
    });
</script>
</html>