<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Devices</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div>
    <table id="devices">
        <caption>DEVICES</caption>

        <thead>
        <tr>
            <th>device</th>
            <th>value</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
<!--        <tr th:each="proc:${process}">
            <td th:utext="${proc.getString('itemid')}"></td>
            <td th:utext="${proc.getString('hostid')}"></td>
            <td th:utext="${proc.getString('name')}"></td>
        </tr>-->
        <tr th:each="device:${devices}">
            <td th:utext="${device.getString('applicationid')}"></td>
<!--
            <td th:utext="${device.getString('hostid')}"></td>
-->
            <td th:utext="${device.getString('name')}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>